.form-signup {
    margin-bottom: 60px;
}

.signup-issues {
    color: rgb(119, 95, 255);
}

h2 {
    padding-bottom: 15px;
}

h2.signup-message {
    font-size: 20px;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(18, 13, 37);
    width: 185px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 12px;
    padding: 50px 20px;
}

label {
    display: inline-block;
    color: rgb(204, 202, 255);
    margin-bottom: 10px;
}

input,
button[type="submit"],
button.login-button {
    background-color: rgb(204, 202, 255);
    margin-bottom: 10px;
    flex-basis: 100%;
    border: none;
    padding: 8px;
    border-radius: 7px;
    transition: all 0.3s;
}

input:hover,
input:focus,
button[type="submit"]:hover,
button.login-button:hover {
    outline: none;
    box-shadow: rgb(119, 95, 255) 1px 1px 12px;
}

button[type="submit"],
button.login-button {
    display: inline-block;
    margin: 0 auto;
    color: rgb(18, 13, 37);
    text-transform: uppercase;
    margin: 20px auto;
    padding: 8px;
    box-shadow: rgb(119, 95, 255) 1px 1px 12px;
    flex-basis: 45%;
}

button[type="submit"]:hover,
button.login-button:hover {
    color: rgb(204, 202, 255);
    background-color: rgb(119, 95, 255);
    cursor: pointer;
}

button.signup-button:disabled {
    filter: blur(1px);
}

button.signup-button:disabled:hover {
    cursor: not-allowed;
}

.redirect-to-log {
    text-decoration: none;
    color: rgb(18, 13, 37);
}

.redirect-to-log:hover {
    color: rgb(204, 202, 255);
}