.posts-list {
    margin: 80px auto;
}

.post {
    background-color: rgb(18, 13, 37);
    color: rgb(204, 202, 255);
    margin-bottom: 30px;
    padding: 40px 10px;
    box-shadow: rgb(0, 0, 0) 1px 2px 15px;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 40px;
}

.user-avatar {
    margin: 0 20px;
}

img {
    width: 60px;
    border-radius: 50px;
}

button.unfollow {
    font-size: 10px;
    font-weight: 600;
    width: 85px;
    height: 25px;
    padding: 6px;
    margin: 0 18px;
    margin-top: 4px;
}

.post-date {
    font-size: 15px;
    margin: 7px 60px;
}

.post-content {
    text-align: left;
    line-height: 26px;
    margin: 0 140px;
}

.like-count {
    font-size: 20px;
    text-align: right;
    margin-right: 57px;
}

.like-symbol,
.like-symbol-liked {
    display: inline-block;
    transform: scale(1.3);
    margin-right: 2px;
    transition: all 0.3s;
    color: rgb(119, 95, 255);
}

.like-symbol-liked {
    color: rgb(204, 202, 255);
}

.like-symbol:hover,
.like-symbol-liked:hover {
    color: rgb(204, 202, 255);
    cursor: pointer;
    transform: scale(1.4);
}

.like-symbol-liked:hover {
    color: rgb(119, 95, 255);
}

.delete-symbol {
    margin-left: 8px;
    transition: all 0.3s;
}

.delete-symbol:hover {
    cursor: pointer;
}

.delete-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(18, 13, 37);
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    border-radius: 24px;
    box-shadow: rgb(119, 95, 255) 1px 2px 15px;
}

.delete-confirm h2 {
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 12px;
}

.confirm-button {
    display: inline-block;
    margin: 15px;
    margin-top: 16px;
    background-color: rgb(25, 20, 46);
    color: rgb(204, 202, 255);
    text-transform: uppercase;
    width: 90px;
    border: none;
    border-radius: 12px;
    padding: 18px;
    transition: all 0.3s;
    box-shadow: rgb(119, 95, 255) 1px 2px 12px;
}

.confirm-button:hover {
    color: rgb(204, 202, 255);
    background-color: rgb(119, 95, 255);
    box-shadow: rgb(119, 95, 255) 1px 1px 12px;
    cursor: pointer;
}

.link-to-log {
    text-decoration: none;
    color: rgb(204, 202, 255);
}

.log-to-like {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(18, 13, 37);
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    border-radius: 24px;
    box-shadow: rgb(119, 95, 255) 1px 2px 15px;
}

.log-to-like h2 {
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 12px;
}